@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
}

code,
kbd,
samp,
pre {
  font-family: 'Open Sans', sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
  Document
  ========
  */
/**
  Use a better box model (opinionated).
  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Use a more readable tab size (opinionated).
  */
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
  1. Correct the line height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
  Sections
  ========
  */
/**
  Remove the margin in all browsers.
  */
body {
  margin: 0;
  padding: 0;
}

/**
  Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
  Grouping content
  ================
  */
/**
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  */
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
  Text-level semantics
  ====================
  */
/**
  Add the correct text decoration in Chrome, Edge, and Safari.
  */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  Add the correct font weight in Edge and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the odd 'em' font sizing in all browsers.
  */
/**
  Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  Tabular data
  ============
  */
/**
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  */
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
  Forms
  =====
  */
/**
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
  Remove the inheritance of text transform in Edge and Firefox.
  1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
  Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
  Remove the inner border and padding in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  Restore the focus styles unset by the previous rule.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  Remove the additional ':invalid' styles in Firefox.
  See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/**
  Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
  */
legend {
  padding: 0;
}

/**
  Add the correct vertical alignment in Chrome and Firefox.
  */
progress {
  vertical-align: baseline;
}

/**
  Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  Remove the inner padding in Chrome and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to 'inherit' in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
  Interactive
  ===========
  */
/*
  Add the correct display in Chrome and Safari.
  */
summary {
  display: list-item;
}

:root {
  --dark-text: #212121;
  --colorful-text: #2196F3;
  --dark-logo: #000000;
  --main-light: #FFFFFF;
  --main-text: #757575;
  --light-text-op60: rgba(255, 255, 255, 0.6);
  --back-dark: #2F303A;
  --back-light: #F5F4FA;
  --social-link-col: #AFB1B8;
  --social-back: rgba(255, 255, 255, 0.1);
  --proects-back: rgba(47, 48, 58, 0.8);
  --portfolio-back: rgba(33, 150, 243, 0.9);
  --modal-back: rgba(0, 0, 0, 0.2);
  --close-button: rgba(0, 0, 0, 0.1);
  --input-border: rgba(33, 33, 33, 0.2);
  --card-set-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-light);
  color: var(--main-text);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

header {
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-nav .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-menu {
    margin-left: 93px;
  }
}

.site-menu__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--dark-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  position: relative;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.site-menu__link:hover, .site-menu__link:focus, .site-menu__link.current {
  color: var(--colorful-text);
}

.site-menu__link:hover::after, .site-menu__link:focus::after, .site-menu__link.current::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-menu__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--colorful-text);
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.site-menu__item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-nav__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-text);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contact-nav__link:hover, .contact-nav__link:focus {
  color: var(--colorful-text);
}

@media screen and (min-width: 1200px) {
  .contact-nav__link {
    padding-bottom: 32px;
    padding-top: 32px;
    font-size: 14px;
    line-height: 1.143;
  }
}

.contact-nav__icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contact-nav__icon {
    margin-right: 10px;
  }
}

.logo {
  display: block;
  padding-bottom: 16px;
  padding-top: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--colorful-text);
}

@media screen and (min-width: 768px) {
  .logo {
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-bottom: 24px;
    padding-top: 25px;
    font-size: 26px;
  }
}

.logo--studio {
  display: inline;
  color: var(--dark-logo);
}

.logo__footer {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.logo__footer--studio {
  color: var(--main-light);
  margin-bottom: 0;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--main-light);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--colorful-text);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin-bottom: 302px;
  list-style: none;
}

.mobile-menu__item:not(:last-child),
.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: block;
  padding: 0;
  margin: 0;
  color: var(--dark-text);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.mobile-menu__link:hover, .mobile-menu__link:focus, .mobile-menu__link.current {
  color: var(--colorful-text);
}

.mobile-contact {
  padding: 0;
  margin-bottom: 64px;
  list-style: none;
}

.mobile-contact__link {
  display: block;
  padding: 0;
  margin: 0;
  color: var(--colorful-text);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
}

.mobile-contact__link--tel {
  color: var(--main-text);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--input-border);
}

.mobile-social__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-social__link {
  display: block;
  padding: 0;
  margin: 0;
  color: var(--colorful-text);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: var(--main-light);
  background-color: var(--colorful-text);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

.button--form {
  display: block;
  margin: 0 auto;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.button--form:hover, .button--form:focus {
  background-color: #188CE8;
}

.button--sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 50px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .button--sign {
    margin-left: 12px;
  }
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--back-dark);
  font-size: 14px;
  line-height: 1.714;
}

.footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .footer__nav {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__nav {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__social-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-nav {
    margin-left: 0;
  }
}

.footer__address {
  color: var(--main-light);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer__address:hover, .footer__address:focus {
  color: var(--colorful-text);
}

.footer__contact {
  display: block;
  margin-top: 8px;
  color: var(--light-text-op60);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer__contact:hover, .footer__contact:focus {
  color: var(--colorful-text);
}

@media screen and (min-width: 1200px) {
  .footer__contact {
    margin-top: 9px;
  }
}

.footer__social {
  width: 206px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
  }
}

.footer__title {
  margin-top: 60;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light);
}

@media screen and (min-width: 768px) {
  .footer__title {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--main-light);
  background-color: var(--social-back);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--colorful-text);
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.sign-up {
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .sign-up {
    min-width: 570px;
    margin-left: 93px;
    margin-right: 0;
  }
}

.sign-up__mail-input {
  display: block;
  width: 100%;
  height: 50px;
  background-color: transparent;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--light-text-op60);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 1200px) {
  .sign-up__mail-input {
    min-width: 358px;
  }
}

.sign-up__field {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .sign-up__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sign-up__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--back-dark);
  color: var(--main-light);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.hero__container {
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .hero__container {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    width: 696px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--modal-back);
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function), visibility 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  height: 609px;
  max-height: 100vh;
  width: 450px;
  overflow-y: auto;
  padding: 40px;
  max-width: calc(100vw - 30px);
  min-width: 290px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  background-color: var(--main-light);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  padding: 6px;
  background-color: var(--main-light);
  border: 1px solid var(--close-button);
}

.modal__close:hover .modal__close-icon,
.modal__close:focus .modal__close-icon {
  fill: var(--colorful-text);
  cursor: pointer;
}

.modal__close-icon {
  fill: currentColor;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form {
  width: 100%;
}

.form__title {
  margin: 0 0 12px 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-text);
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.form__field:focus-within {
  cursor: pointer;
}

.form__field:focus-within > .form__icon {
  fill: var(--colorful-text);
}

.form__field:focus-within > .form__input,
.form__field:focus-within > .form-textarea {
  border: 1px solid var(--colorful-text);
  outline: none;
}

.form__field:active > .form__input,
.form__field:active > .form-textarea {
  border: 1px solid var(--colorful-text);
  outline: none;
}

.form__label {
  margin-bottom: 4px;
  color: var(--main-text);
  font: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
}

.form__input,
.form-textarea {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 11px 42px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: var(--main-text);
  border-radius: 4px;
  border: 1px solid var(--input-border);
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.form__input:focus-within,
.form-textarea:focus-within {
  cursor: pointer;
}

.form__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.textarea-field {
  margin-bottom: 20px;
}

.form-textarea {
  padding: 12px 16px;
  resize: none;
  max-width: 448px;
  height: 120px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .checkbox__icon {
  border: none;
}

.checkbox:checked + .checkbox__icon use {
  display: block;
}

.checkbox__icon {
  border: 2px solid #2a2a2a;
  border-radius: 1px;
}

.checkbox__icon use {
  display: none;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.checkbox__label:hover {
  cursor: pointer;
}

.checkbox__text {
  margin-left: 8px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: var(-main-text);
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.714;
  }
}

.checkbox__policy {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  color: var(--colorful-text);
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .checkbox__policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.features {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-color: var(--back-light);
}

@media screen and (min-width: 768px) {
  .features__container {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__container {
    width: 270px;
  }
}

.features__icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--dark-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.714;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--dark-text);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
  }
}

.projects {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .projects {
    display: none;
  }
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__thumb {
  position: relative;
}

.projects__desc {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light);
  background: var(--proects-back);
  position: absolute;
  bottom: 0;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--back-light);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-member {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: calc( -1 * var(--card-set-gap));
    margin-top: calc( -1 * var(--card-set-gap));
  }
  .team-member > .team-member__card {
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gap));
        flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team-member__card {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--main-light);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team-member__card {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-member__card {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-member__card {
    max-width: 270px;
  }
}

.team-member__thumb {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .team-member__thumb {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member__thumb {
    height: 260px;
  }
}

.team-member__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-member__info {
  max-width: 450px;
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-member__info {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member__info {
    width: 270px;
    padding-bottom: 30px;
  }
}

.team-member__name {
  margin: 0 0 10px 0;
  color: var(--dark-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
}

.team-member__position {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 1.188;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--social-link-col);
  border-radius: 50%;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.social__link:hover, .social__link:focus {
  background-color: var(--colorful-text);
  color: var(--main-light);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc( -1 * var(--card-set-gap));
    margin-top: calc( -1 * var(--card-set-gap));
  }
  .clients__list > .clients__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gap));
        flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list > .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gap));
        flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  height: 90px;
  cursor: pointer;
  color: var(--social-link-col);
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  color: var(--colorful-text);
  border-color: var(--colorful-text);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    min-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    min-width: 165px;
  }
}

.clients__icon {
  display: block;
  fill: currentColor;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 25px;
}

.portfolio__nav .portfolio__list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio__nav {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__nav {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__list {
    margin-bottom: 15px;
  }
}

.portfolio__button {
  display: block;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--dark-text);
  background-color: var(--back-light);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.portfolio__button:hover, .portfolio__button:focus, .portfolio__button.current {
  color: var(--main-light);
  background-color: var(--colorful-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-set {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .portfolio-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc( -1 * var(--card-set-gap));
    margin-top: calc( -1 * var(--card-set-gap));
  }
  .portfolio-set > .portfolio-set__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gap));
        flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-set > .portfolio-set__item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gap));
        flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (max-width: 767px) {
  .portfolio-set__item:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.portfolio-set__item {
  border: 1px solid #EEEEEE;
  cursor: pointer;
}

.portfolio-card:hover .portfolio-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio-card:hover .portfolio-card__desc {
  opacity: 1;
}

.portfolio-card__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.portfolio-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-card__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-back);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  opacity: 0;
}

.portfolio-card__desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-light);
}

.card-card__content {
  padding: 20px 24px;
}

.portfolio-card__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--dark-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-text);
}

.portfolio-card__link {
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.portfolio-card__link:hover, .portfolio-card__link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__link:focus .portfolio-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.portfolio-card__link:focus .portfolio-card__desc {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */