.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--back-dark);
  color: var(--main-light);

  background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right, 
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4)),
      url(../images/background@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.hero__container {
  margin: 0 auto;

  @media screen and (max-width: 1199px) {
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
    
  font-weight: 900;
  font-size: 20px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }
}