.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: var(--modal-back);

  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(1.1);

  & .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  height: 609px;
  max-height: 100vh;
  width: 450px;
  overflow-y: auto;
  padding: 40px;
  max-width: calc(100vw - 30px);
  min-width: 290px;
  transition: transform 250ms var(--timing-function);

  background-color: var(--main-light);

  @media screen and (min-width: 1200px) {
    min-height: 581px;
    min-width: 528px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 6px;

  background-color: var(--main-light);
  border: 1px solid var(--close-button);

  &:hover .modal__close-icon,
  &:focus .modal__close-icon {
    fill: var(--colorful-text);
    cursor: pointer;
  }
}

.modal__close-icon {
  fill: currentColor;

  transition: fill 250ms var(--timing-function);
}
