.projects {
    
  @media screen and (max-width: 1199px) {  
    display: none;   
  }

  padding-bottom: 94px;
}

.projects__list {
  display: flex;
  justify-content: space-between;
}
  
.projects__thumb {
  position: relative;
}
  
.projects__desc {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 100%;
      
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-light);
  background: var(--proects-back);

  position: absolute;
  bottom: 0;
}