.portfolio-set {
  padding: 0;
  margin: 0;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc( -1 * var(--card-set-gap));
    margin-top: calc( -1 * var(--card-set-gap));

    & > .portfolio-set__item {
      flex-basis: calc(100% / 2 - var(--card-set-gap));
      margin-left: var(--card-set-gap);
      margin-top: var(--card-set-gap);
    }
  }

  @media screen and (min-width: 1200px) {
    & > .portfolio-set__item {
      flex-basis: calc(100% / 3 - var(--card-set-gap));
      margin-left: var(--card-set-gap);
      margin-top: var(--card-set-gap);
    }
  }
}

.portfolio-set__item:not(:last-of-type) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}