:root {
  --dark-text: #212121;
  --colorful-text: #2196F3;
  --dark-logo: #000000;
  --main-light: #FFFFFF;
  --main-text: #757575;
  --light-text-op60: rgba(255, 255, 255, 0.6);
  --back-dark: #2F303A;
  --back-light: #F5F4FA;
  --social-link-col: #AFB1B8;
  --social-back: rgba(255, 255, 255, 0.1);
  --proects-back: rgba(47, 48, 58, 0.8);
  --portfolio-back: rgba(33, 150, 243, 0.9);
  --modal-back: rgba(0, 0, 0, 0.2);
  --close-button: rgba(0, 0, 0, 0.1);
  --input-border: rgba(33, 33, 33, 0.2);
  
  --card-set-gap: 30px;
  
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}