footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--back-dark);
  font-size: 14px;
  line-height: 1.714;
}

.footer {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__nav {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__social-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
}

.footer__address {
  color: var(--main-light);
      
  transition: color 250ms var(--timing-function);
  
  &:hover,
  &:focus {
    color: var(--colorful-text);
  }
}

.footer__contact {
  display: block;
  margin-top: 8px;
  
  color: var(--light-text-op60);
  
  transition: color 250ms var(--timing-function);
  
  &:hover,
  &:focus {
    color: var(--colorful-text);
  }

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}

.footer__social {
  width: 206px;
  text-align: center;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__title {
  margin-bottom: 20px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: var(--main-light);

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  
  color: var(--main-light);
  background-color: var(--social-back);
  border-radius: 50%;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    background-color: var(--colorful-text);  
  }
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  
  fill: currentColor;
}