header {
  border-bottom: 1px solid #ECECEC;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--main-light);
  z-index: 1;
}

.page-header__nav {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-menu {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.site-menu__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--dark-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  position: relative;
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus,
  &.current {
    color: var(--colorful-text);

    &::after {
      transform: scaleX(1);
    }
  }

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--colorful-text);
    border-radius: 2px;

    transform: scaleX(0);
    transition: transform 250ms var(--timing-function);
  }
}

.site-menu__item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav {
  display: flex;
  margin-left: auto;
}

.contact-nav__item:not(:last-child) {
  margin-right: 30px;
}

.contact-nav__link {
  display: flex;
  padding-bottom: 32px;
  padding-top: 32px;
  align-items: center;

  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--colorful-text);
  }
}

.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}